{% extends "base.html" %}
{% load static %}
<head>
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% block title %}
<title>Замечательные цитаты. Главная</title>
{% endblock %}
</head>
<body>
  {% block content %}
  {% if quote %}
    <div class="card col-4">
      <div class="card-header">Цитата</div>
      <div class="card-body">
        <blockquote class="blockquote">
          <p>{{ quote.content }}</p>          
          <footer class="blockquote-footer">
            {{ quote.source.title }} <cite title="Source Title">({{ quote.source.author }})</cite>
          </footer>
        </blockquote>
        <form method="POST">
          {% csrf_token %}
              <button type="image" name="like" value="Pressed"> <img src="{% static 'img/like.png' %}" alt="Like:"> {{ quote.likes }} </button>        
              <button type="image" name="dislike" value="Pressed"> <img src="{% static 'img/dislike.png' %}" alt="DisLike:"> {{ quote.dislikes }} </button>
        </form> 
      </div>
      <div class="card-footer text-muted">
        Количество просмотров: {{ quote.views }}
      </div>
    </div>
  {% else %}
    <div class="alert alert-info col-5" role="alert">
      Нет доступных цитат. Пожалуйста, добавьте новую цитату.
    </div>
  {% endif %}
  {% endblock %}
</body>